%div.col-md-12
  %div
    %h3= "Your collection: #{@collection.name}"
    = render :partial=> 'form', locals: {collection: @collection, :remote => false}
    = render :partial => "collections_table", locals: {collection: @collection, problems: @collection.problems}
