.export-tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#sectionA"} Preview Quiz
    %li
      %a{"data-toggle" => "tab", :href => "#sectionB"} HTML Code
    %li
      %a{"data-toggle" => "tab", :href => "#sectionC"} EdX Code
    %li
      %a{"data-toggle" => "tab", :href => "#sectionD"} AutoQCM Code
  .tab-content
    #sectionA.tab-pane.fade.in.active
      %h3 Preview Quiz
      %h6
        = @html_code.html_safe
    #sectionB.tab-pane.fade
      %h3 HTML Code
      %textarea{:wrap => 'hard', 'readonly' => 'true', :id => "thetextarea"}
        = @html_code
    #sectionC.tab-pane.fade.in.active
      %h3 EdX Code
      %textarea{:wrap => 'hard', 'readonly' => 'true', :id => "thetextarea"}
        = @edx_code
    #sectionD.tab-pane.fade
      %h3 AutoQCM Code
      %textarea{:wrap => 'hard', 'readonly' => 'true', :id => "thetextarea"}
        = @autoqcm_code
