%p{:style=>"color: green; font-style: italic"}
  = "Your quiz was successfully uploaded! We found #{@collections.size} collections in your quiz. Review them below here:"


%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
      %tbody
        -@collections.each do |collection|
          %tr
            =render :partial=> 'form', locals: {collection: collection, :remote => true}
            </br>
            %p.collectioncontrols
              =link_to "Delete Controls", collection_path(collection), :class => 'btn btn-danger', method: :delete, :confirm => 'Delete this collection?'
            %p.collectioncontrols
              =link_to "Export Collection", export_path(:id => @collection), :class => 'btn btn-info'
            = render :partial => "shared/problems_table", locals: {problems_index: false, collection: collection, problems: collection.problems}
