
%h3.section_title Upload successful! #{num_problems(@collections)} problems found in #{@collections.size} collections.
  
- @collections.each do |collection|
  %hr
  = render :partial => 'edit_collection', locals: {collection: collection}

// = render :partial => 'view_by_tag'