%p{:style=>"color: green; font-style: italic"}
  = "Your quiz was successfully uploaded! We found #{@collections.size} collections in your quiz. Review them below here:"


%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
      %tbody
        -@collections.each do |collection|
          %tr
            =render :partial=> 'form', locals: {collection: collection}
            %p.collectioncontrols
              =link_to(image_tag('trashcan.png', width: 21),  collection_path(@collection), method: :delete, :confirm => 'Delete this collection?')
            %p.collectioncontrols

              Export this collection: 
              =link_to 'export button', export_path(:id => collection) 
            = render :partial => "shared/problems_table", locals: {problems_index: false, collection: collection, problems: collection.problems}
