%div.col-md-12
  %h3{:style=>"color: blue; padding:0px;margin:0px;"}
    = "Your quiz was successfully uploaded! We found #{@collections.size} collections in your quiz. Review them below:"
  
  -@collections.each do |collection|
    %tr
      =render :partial=> 'form', locals: {collection: collection, :remote => true}
      = render :partial => "shared/problems_table", locals: {problems_index: false, collection: collection, problems: collection.problems}
