%h3= "Quiz successfully uploaded! Finalize changes or discard this upload"

%div.col-md-10
  %div.table-responsive
    %table.table.table-striped#problems
      %thead
        %tr
      %tbody
        -@collections.each do |collection|
          %tr
            =render :partial=> 'form', locals: {collection: collection}
            %p 
              Delete this collection? 
              =link_to 'trash_can_icon', collection_path(collection), method: :delete, :confirm => 'Delete this collection?'
            %p 
              Export this collection: 
              =link_to 'export button', export_path(:id => collection) 
            = render :partial => "shared/problems_table", locals: {problems_index: false, collection: collection, problems: collection.problems}
