- if @collection.instructor == @current_user
  = link_to "Click here to edit this collection", edit_collection_path(id: @collection)
= render :partial => "collections_table", locals: {collection: @collection, problems: @collection.problems}
