- if @collection.instructor == @current_user
  = link_to "Click here to follow this collection", edit_collection_path(id: @collection)
= render :partial => "shared/problems_table", locals: {problems_index: false, collection: @collection, problems: @collection.problems}