%div.col-md-4
%div.col-md-4
	%p.text-center Welcome to Course Question Bank.   <br> Easily organize all your tests and class materials!
	%p.text-center= link_to 'Log in with your GitHub account', '/auth/github', class: "btn btn-default"