
= form_tag '', :multipart => true, :class => 'form-horizontal' do
	%div.form-group
		%div.col-xs-5
		%div.col-xs-7
			= file_field_tag :ruql_file, :id => 'file_upload', :class => 'text-center'
	
	%div.form-group
		%div.col-xs-12.text-center
			= submit_tag 'Upload File', :class => 'btn btn-primary'
