%div{:style=>"margin-top: 2%; border-style:solid;border-color: transparent;"}
	%div{:style=>"margin: 10%; margin-left: 38%"}
		= form_tag("", multipart: true) do
			= file_field_tag 'ruql_file', :id => 'file_upload'
			%div{:style=>"margin-left: 8%"}
				= submit_tag('Upload File', :class => 'btn btn-primary')
