
%div.col-md-12
  %h4 See older versions of question:
  %div.problem_box
    = @problem.html5.html_safe
    %div.additional Created #{@problem.created_date} by #{@problem.instructor.name}
  
  = render :partial => 'history_list', :locals => {:problem => @problem}
