
- if problems.empty?
  %h3 No questions matched your search criteria

- else
  %div.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Question Text
          %th Collections
          %th Tags
      
      %tbody
        - problems.select{|p| can? :read, p}.each do |problem|
          %tr
            = render :partial => 'problem_row', :locals => {:problem => problem}
