
= form_tag problems_path, :method => :post do
  = text_area_tag "ruql_source", problem.ruql_source, :class => "source_field", :id => nil, :rows => 15
  = hidden_field_tag 'previous_version', problem.id, :id => nil
  %br
  %br
  = submit_tag "Supersede question"
