-#  This file is app/views/movies/index.html.haml

%div.col-md-2#sidebar-filter
	= render "filter"

= render :partial => "shared/problems_table", locals: {problems_index: true, problems: @problems}

= will_paginate @problems

