-#  This file is app/views/movies/index.html.haml

%div.col-md-2#sidebar-filter
  = render "filter"
= will_paginate @problems
%p
  / = link_to 'View 5 (testing purposes)', problems_path(:per_page => 5) 
= render :partial => "shared/problems_table", locals: {problems_index: true, problems: @problems}



