
%p.text-center Welcome to Course Question Bank.
%p.text-center Easily organize all your tests and class materials!
.text-center= link_to 'Log in with your GitHub account', '/auth/github', class: "btn btn-default"

- unless @dev_users.empty?
  .text-center#choose-identity
    Login as
    - @dev_users.each do |user|
      = link_to "#{user.username}: #{user.get_privilege}", bypass_path(:user_id => user.id), class: "btn btn-default"
