// %div.container-fluid
//   %h4 Your current permission level is #{@current_user.privilege}. 
//   -if @unauthorized_users.empty?
//     %p There are currently no users pending authorization.
//   -else
//     %p The following users have requested access to the site. Please authorize or deny access.

//     %div.table-responsive
//       %table.table.table-striped#problems
//         %thead
//           %tr
//           %th
//           %th Username
//           %th Name
//           %th Email
//           %th Provider
//           %th
//         %tbody
//           - @unauthorized_users.each do |user|
//             %tr
//             %td= image_tag user.provider_image, size: "30x30"
//             %td= link_to user.username, "https://github.com/#{user.username}"
//             %td= user.name
//             %td= user.provider_email
//             %td= user.provider
//             %td
//               =link_to 'authorize', authorize_path("authorize", user), :class => 'btn btn-info', :id=> 'authorize'
//               =link_to 'deny', authorize_path("deny", user), :method=> :get, :class => 'btn btn-warning', :id=> 'deny'

//   %hr
//   %h4 Give permisions to users manually:
//   = form_tag whitelist_path, :method => :get, :id => "whitelist_form", class: 'form-inline' do
//     %div.form-group
//       = label_tag(:username, "Github Username:")
//       = text_field_tag(:username, params[:username], class: 'form-control', placeholder: "GitHub username")
//     %div.form-group
//       = label_tag(:privilege, "Access level:")
//       = select_tag(:access, options_for_select(["instructor", "admin"]), class: 'form-control')
    
//       = submit_tag 'Add', :id => "whitelist_submit", :class => 'btn btn-info'