// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
.tag {
  display: inline-block;
  background: #cccccc;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 2px 1px;
}

.tag_list {
  width: 200px;
}

.tag * {
  display: inline;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.tag button {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.add_tags_form {
  margin-top: 5px;
}

.add_tags_form input {
  width: 90px;
}
