// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
.tag {
    background: #fff;
    padding: 5px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
}