// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
.tag {
  display: inline-block;
  background: #cccccc;
  padding: 2px 4px;
  border-radius: 3px;
  margin: 2px 1px;
}

.tag * {
  display: inline;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.tag input[type="submit"] {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.add_tags_form {
  margin-top: 5px;
}