
#banner {
  text-align: center;
 	background-color: #165E9D;
 	border-top: solid;
 	border-bottom: solid;
 	border-top-width: 2px;
 	border-bottom-width: 2px;
 	margin: 0;
 	color: #D9EDFF;
 	padding: 30px 0 10px;
}

#banner a:link, #banner a:visited, #banner a:hover, #banner a:active {
  text-decoration: none;
}

#banner li {
  display: inline-block;
  padding: 0;
}

#welcome_message {
  font-size: 15;
  padding-bottom: 10px;
}

#navbar {
  float: right;
  margin: 0;
  padding: 0;
  color: #D9EDFF;
}

#navbar li form {
  margin: 0;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
  text-decoration: none;
}

#flash_message {
  clear: right;
  margin: 0 20px;
  font-size: 130%;
}
