
.whitelist-table form {
  margin: 0;
}

.whitelist-table th {
  // border: none!important;
}

#whitelist-new {
  // border-bottom: 2px solid #ddd;
}

#whitelist-new td {
  // padding-top: 30px;
  padding-bottom: 30px;
}

.whitelist-table .glyphicon {
  margin-top: 5px;
  font-size: 120%;
}
