// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	#main {
		margin: 30px;
		line-height: 20px;
	}